{% extends 'route/base.html' %}
{% load static %}


{% block title %}{{ title }}{% endblock %}


{% block start_button %}
<a class="btn btn-primary" href="#Routes">Get Started</a>
{% endblock %}


{% block content %}
    <!-- Routes-->
        <section class="projects-section bg-light" id="Routes">
             <div class="container px-4 px-lg-5">
                <div class="route_detail">
                <h2>Coming events</h2>
                <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        {% for k in all_event|first %}
                        <th scope="col">{{k|upper}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for el in all_event %}
                    <tr>
                    {% for e in el.values %}
                            <td>{{e}}</td>
                    {% endfor %}
                    </tr>
                    <tr>
                        <td colspan="7"><p><a href={% url 'event_handler' event_id=el.id %}>Event №{{ el.id }}</a></p></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                {% if user.is_authenticated %}
                    <a class="btn btn-primary" href={% url 'route:add_event' id_route=0 %}>Add event</a>
                {% endif %}
                </div>
            </div>
        </section>
{% endblock %}
