{% extends 'route/base.html' %}
{% load static %}


{% block title %}{{ title }}{% endblock %}

{% block start_button %}
<a class="btn btn-primary" href="#event">Get Started</a>
{% endblock %}


{% block content %}
<section class="projects-section bg-light" id="event">
    <div class="container px-4 px-lg-5">
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6 order-lg-first" style="width: 100%;">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <div class="route_reviews">
                                <h4 class="text-white">Event details</h4>
                                <br>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                                <p class="mb-0 text-white-50">Start: {{ event.id_route.start_point }}</p>
                                <p class="mb-0 text-white-50">Type of hike: {{ event.id_route.route_type }}</p>
                                <p class="mb-0 text-white-50">Country: {{ event.id_route.country }}</p>
                                <p class="mb-0 text-white-50">Location: {{ event.id_route.location }}</p>
                                <p class="mb-0 text-white-50">Duration: {{ event.id_route.duration }}</p>
                                <p class="mb-0 text-white-50">Guide: {{ event.guide }}</p>
                                <p class="mb-0 text-white-50">Approved users:</p>
                                {% for user in event.approved_users %}
                                    <p class="mb-0 text-white-50">{{ user }}</p>
                                {% endfor %}
                                <p class="mb-0 text-white-50">Pending users:</p>
                                {% for user in event.pending_users %}
                                    <p class="mb-0 text-white-50">{{ user }}</p>
                                {% endfor %}
                                <p class="mb-0 text-white-50">Start date: {{ event.start_date }}</p>
                                <p class="mb-0 text-white-50">Price: {{ event.price }}</p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                            {% if user.is_authenticated %}
                                 <a class="btn btn-primary" href={% url 'add_me' event_id=event.pk %}>Join The Event</a>
                            {% endif %}
                            {% if user.is_superuser %}
                                <a class="btn btn-primary" href={% url 'user_to_approved' event_id=event.pk %}>Change member status</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
