{% extends 'route/base.html' %}
{% load static %}


{% block title %}{{ title }}{% endblock %}


{% block start_button %}
<a class="btn btn-primary" href="#Routes">Get Started</a>
{% endblock %}


{% block content %}
    <!-- Routes-->
        <section class="projects-section bg-light" id="Routes">
             <div class="container px-4 px-lg-5">
                <div class="route_table">
                <h2>Available Routes</h2>
                <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        {% for k in route_list|first %}
                        <th scope="col">{{k|upper}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for el in route_list %}
                    <tr>
                    {% for e in el.values %}
                            <td>{{e}}</td>
                    {% endfor %}
                    </tr>
                    <tr>
                        <td colspan="7"><p><a href={% url 'route:route_detail' id_route=el.id %}>Route №{{ el.id }}</a></p></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                {% if paginator %}
                    <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card-body text-center">
                            <a class="btn btn-primary" href="?page={{ paginator.previous }}">Previous Page</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card-body text-center">
                            <p>{{ paginator.now }}/{{ paginator.all }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card-body text-center">
                            <a class="btn btn-primary" href="?page={{ paginator.next }}">Next Page</a>
                        </div>
                    </div>
                </div>
                <hr class="my-4 mx-auto" />
                {% endif %}
                {% if user.is_authenticated %}
                    <a class="btn btn-success" href={% url 'route:add_route' %}>Add route</a>
                {% endif %}
                </div>
            </div>
        </section>
{% endblock %}
